.bg-red-light {
  background: #fc393a;
}

.bg-vampire-light {
  background: #171313;
}

.bg-vampire-light2 {
  background: #262121;
}

.bg-card {
  background: linear-gradient(
      52deg,
      rgba(0, 0, 0, 0) 32.5%,
      rgba(239, 29, 30, 0.2) 115.65%
    ),
    #171313;
}

.text-neutral-300 {
  color: #b5a3a3;
}

.card {
  border-radius: 12px;
}
